<div class="container mb-3 mx-auto shadow-md" fluid>
  <div class="flex flex-row h-16 items-center">
    <div class="basis-1/4">
      <%= image_tag 'logo.png',  size: '100x200',alt: 'wahui logo' %>
    </div>

    <div class="basis-1/2 flex justify-center">
      <ul class="flex space-x-4">
        <li><a href="/" class="text-gray-700 hover:text-blue-500 font-medium">Home</a></li>
        <li><a href="/boards" class="text-gray-700 hover:text-blue-500 font-medium">Boards</a></li>
        <li><a href="/synonyms" class="text-gray-700 hover:text-blue-500 font-medium">Synonyms</a></li>
        <li><a href="/wahuiboards" class="text-gray-700 hover:text-blue-500 font-medium">Wahui Boards</a></li>
      </ul>
    </div>

    <div class="basis-1/4 flex justify-end">
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, data: { "turbo-method": :delete }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
      <% end %>
    </div>
  </div>
</div>