<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing wahuiboard</h1>

  <%= render "form", wahuiboard: @wahuiboard %>

  <%= link_to "Show this wahuiboard", @wahuiboard, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
  <%= link_to "Back to wahuiboards", wahuiboards_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
</div>
